<h1>Edit Page</h1>
{{!-- <form method="POST" action="/users/{{userId}}/placesTraveled"> --}}
<form method="POST" action="/users/{{userId}}/placesDesired/{{placesDesired}}?_method=PATCH">
    <div>
        <label for="state">State</label>
        <input type="text" name="state">
    </div>
    <div>
        <label for="location">location</label>
        <input type="text" name="location" value="{{placesDesired.location}}">
    </div>
    <div>
        <label for="season">Season</label>
        <input name="season" value="{{placesDesired.season}}">
    </div>
<div>
        <label for="image">Image</label>
        <input name="image" value="{{placesDesired.image}}"> 
    </div>
    <div>
        <label for="imageone">Image</label>
        <input name="imageone" value="{{placesDesired.imageone}}">
    </div>
<div>
        <label for="imagetwo">Image</label>
        <input name="imagetwo" value="{{placesDesired.imagetwo}}">
    </div>

<div>
        <label for="reason">Review</label>
        <input name="reason" value="{{placesDesired.review}}">
    </div>
    <div>
        <input type="submit" value="submit">
    </div>
</form>

