<h1>{{newuser.firstname}}'s Travel Portfolio</h1>

{{!--
<div>{{ newuser.firstname }}</div>
<div>{{ newuser.lastname }}</div>
<div>{{ newuser.placesTraveled.location}}</div>
<div>{{newuser.placesDesired.[0].location}}</div>
<div>{{users.placesTraveled.[0].state}}</div>
<div> --}} {{!-- this url will be something like localhost3000/users/:userId/placestraveled/``````` --}} {{!-- s --}} {{!--
  <a
    href="">Takes you to places desired </a>
</div>
<a href="/users/{{newuser._id}}/edit">Takes you to the edit page </a>
--}}

<div class="bothsides">
  <div class="leftside">
    <h4>Places Traveled</h4>
    {{#each newuser.placesTraveled}}
    <ul></ul>

    <li>State: {{state}}</li>
    <li>City/Location: {{location}}</li>
    <li>Season: {{season}}</li>
    <br>
    <div class="imagerow">
      <li>
        <img class="firstimage" src="{{image}}">
      </li>
      <li>
        <img class="secondimage" src="{{imageone}}">
      </li>
      <li>
        <img class="thirdimage" src="{{imagetwo}}">
      </li>
      </div>
      
     
    
    
    <div class="reviews">
    <li>Review: {{review}}</li>
    </div>

    <div class= 'threebuttons'>
    <form method="POST" action="/users/{{../newuser._id}}/placesTraveled/{{_id}}?_method=DELETE">
      <button type="submit">Delete This Places Traveled</button>
    </form>
   <li><a href="/users/{{../newuser._id}}/placesTraveled/{{_id}}/edit">Edit Places Traveled </a></li>
    {{/each}}
    <li><a href="/users/{{newuser._id}}/placesTraveled/new/">Add New Places Traveled</a></li>
    </div>
  </div>


  <div class ="buffer"> 
  
  </div>


  <div class="rightside">
    <h4>Places Desired</h4>
    <ul></ul>
    {{#each newuser.placesDesired}}
    <li>State: {{state}}</li>
    <li>Location: {{location}}</li>
    <li>Season: {{season}}</li>
    <div class="imagerow">
      <li>
        <img class="firstimage" src="{{image}}">
      </li>
      <li>
        <img class="secondimage" src="{{imageone}}">
      </li>
      <li>
        <img class="thirdimage" src="{{imagetwo}}">
      </li>
    </div>
    <li>Reason: {{reason}}</li>
    <form method="POST" action="/users/{{../newuser._id}}/placesDesired/{{_id}}?_method=DELETE">
      <button type="submit">Delete This Places Desired</button>
    </form>
   <li><a href="/users/{{../newuser._id}}/placesDesired/{{_id}}/edit">Edit Desired Destination </a><li>
    {{/each}}
    <a href="/users/{{newuser._id}}/placesDesired/new/">Add New Desired Destination </a>
  </div>

</div>
<br>
<br>

<div class = "userhome">

<h1><a href="/users/{{id}}">Users  {{user.loction}}</a></h1>

</div>