<h1>{{newuser.firstname}}</h1>


<div>{{ newuser.firstname }}</div>
<div>{{ newuser.lastname }}</div>
<div>{{ newuser.placesTraveled.location}}</div>
<div>{{newuser.placesDesired.[0].location}}</div>
<div>{{users.placesTraveled.[0].state}}</div>
<div>
    {{!-- this url will be something like localhost3000/users/:userId/placestraveled/``````` --}}
<a href="/users/{{newuser._id}}/placesTraveled/new/">add new place</a>
</div>
<div>
{{!-- <a href="">Takes you to places desired </a>
</div>
<a href="/users/{{newuser._id}}/edit">Takes you to the edit page </a>
 --}}

<div class="bothsides">
<div class="rightside">
{{#each newuser.placesTraveled}}
<li>{{location}}</li>
<li>{{season}}</li>
<li>{{image}}</li>
<li>{{imageone}}</li>
<li>{{imagetwo}}</li>
<li>{{review}}</li>
<form method="POST" action="/users/{{../newuser._id}}/placesTraveled/{{_id}}?_method=DELETE">
  <button type="submit">Delete This Places Traveled</button>
</form>
<a href="/users/{{../newuser._id}}/placesTraveled/{{_id}}/edit">Takes you to the edit page </a>
{{/each}}
</div>

<a href="/users/{{newuser._id}}/placesDesired/new/">add new place</a>
<div class="leftside">
{{#each newuser.placesDesired}}
<li>{{location}}</li>
<li>{{season}}</li>
<li>{{image}}</li>
<li>{{imageone}}</li>
<li>{{imagetwo}}</li>
<li>{{review}}</li>
<form method="POST" action="/users/{{../newuser._id}}/placesDesired/{{_id}}?_method=DELETE">
  <button type="submit">Delete This Places Desired</button>
</form>
<a href="/users/{{../newuser._id}}/placesDesired/{{_id}}/edit">Takes you to the edit page </a>
<a href="/users/{{newuser._id}}/placesDesired/new/">add new place</a>
{{/each}}
</div>

</div>